body{
    background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.one{
    width: 300px;
    height: 660px;
    background-color: whitesmoke;
    /* margin-top: auto; */
    position: relative;
    top: 9vh;
}
form{
    padding: 20px;
}
h1{
    padding: 20px;
}
h2{
    text-align: center;
}
.two{
    width: 300px;
    height: 430px;
    background-color: whitesmoke;
    position: relative;
    top: 18vh;
    
}
.pro{
    margin-left: 20px;
}
.protwo{
    position: relative;
    bottom: 10px;
    margin-left: 25px;
}
#ftext,
#ltext,
#etext,
#ptext,
#cptext,
#e1text,
#p1text{
    color: red;
}
